<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/roads/list">路线</a></li>
    <li class="active"><%= title %></li>
</ol>
<!--<div id="r-result">ȫˤɫ:<input type="text" id="suggestId" class="form-control" size="20" value="љ׈" style="width:150px;" /></div>-->
<!--<div id="searchResultPanel" style="z-index: 9999999;border:1px solid #C0C0C0;width:150px;height:auto; display:block;"></div>-->

<div class="row">
    <div class="col-md-12">
        <div id="roadimg" data-roadid="<%= roadid %>"
             style="width: 100%;height:400px;background-image: url('/roads/getroadfirstimage/<%= roadid %>');background-position: center; background-size: 100% auto;">
            <div style="background-color:rgba(255, 255, 255, 0.7);width: 67%;margin:0 auto;height: 100%;padding: 30px;">
                <div class="row">
                    <div class="col-md-12">
                        <input class="title_input" type="text" id="roadtitle" data-roadid="<%= roadid %>"
                               value="<%= title %>"
                               style="background-color: transparent;border: 0;border-bottom:1px solid #ffffff;width: 100%;height: 40px;font-size: 20px;"
                               placeholder="请输入标题">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="content_input" rows="7" id="roadcontent" data-roadid="<%= roadid %>"
                                  style="margin-top: 10px;resize:none;line-height: 30px;font-size: 18px;padding: 15px;"
                                  placeholder="简介描述"><%= content %>
                        </textarea>
                    </div>
                </div>
            </div>
            <img class="roadpoinsmap" data-roadid="<%= roadid %>" src="/images/iconfont-ditu.png" width="30" height="30"
                 style="position: absolute;right: 60px;bottom: 10px;"/>

            <img class="roaddelete" data-roadid="<%= roadid %>" src="/images/iconfont-shanchu.png" width="30"
                 height="30"
                 style="position: absolute;right: 20px;bottom: 10px;"/>
            <!--<img src="/images/iconfont-dingwei1.png" width="30" height="30"-->
            <!--style="position: absolute;right: 20px;bottom: 10px;"/>-->
        </div>
    </div>
</div>
<%if(isedit){%>
<br/>
<div class="panel-group" role="tablist">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                    添加站点
                </a>
                <a class="" style="float: right;" href="/help/edithelp">帮助</a>
            </h4>
        </div>


        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">

                <form id="addpointform" name="addpointform" role="form" action="/points/pointadd" method="post">
                    <input type="hidden" name="RoadId" value="<%= roadid %>">
                    <div class="form-group">
                        <input id="switch-wenben" name="switch-wenben" type="checkbox" data-label-text="纯文本" />
                        <input id="wenbenis" name="wenbenis" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="InputTitle">标题</label>
                        <input type="text" class="form-control" id="InputTitle" name="InputTitle" placeholder="标题">
                    </div>
                    <div class="form-group">
                        <label for="InputContent">内容</label>
                        <textarea rows="8" class="form-control" id="InputContent" name="InputContent"
                                  placeholder="内容"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%}else{%>
<%}%>




<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">添加站点</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<form id="addpointform" name="addpointform" role="form" action="/points/pointadd" method="post">-->
                    <!--<input type="hidden" name="RoadId" value="<%= roadid %>">-->
                    <!--<div class="form-group">-->
                        <!--<input id="switch-wenben" name="switch-wenben" type="checkbox" data-label-text="纯文本" />-->
                        <!--<input id="wenbenis" name="wenbenis" type="hidden">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="InputTitle">标题</label>-->
                        <!--<input type="text" class="form-control" id="InputTitle" name="InputTitle" placeholder="标题">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="InputContent">内容</label>-->
                        <!--<textarea rows="8" class="form-control" id="InputContent" name="InputContent"-->
                                  <!--placeholder="内容"></textarea>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">提交</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div id="roadpointlistdiv" class="row">

</div>



<div class="modal fade" id="RoadImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">路线照片上传</h4>
            </div>
            <div class="modal-body">

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#roadimguptab" aria-controls="roadimguptab"
                                                                  role="tab" data-toggle="tab">路线照片上传</a></li>
                        <li role="presentation"><a href="#roadimgmanatab" aria-controls="roadimgmanatab" role="tab"
                                                   data-toggle="tab">路线照片管理</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="roadimguptab">
                            <form id="roaddropzone" name="roaddropzone" role="form" action="/roads/uploadroadimage"
                                  method="post"
                                  class="dropzone" enctype="multipart/form-data">
                                <input name="RoadID" id="RoadID" type="hidden" value="12345678987654321">
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="roadimgmanatab">
                            <div class="row" id="roadimglistdiv">

                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="modal fade" id="PointImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">站点照片上传</h4>
            </div>
            <div class="modal-body">


                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation1" class="active"><a href="#pointimguptab" aria-controls="pointimguptab"
                                                                  role="tab" data-toggle="tab">路线照片上传</a></li>
                        <li role="presentation2"><a href="#pointimgmanatab" aria-controls="pointimgmanatab" role="tab"
                                                   data-toggle="tab">路线照片管理</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="pointimguptab">
                            <form id="myawesomedropzone" name="myawesomedropzone" role="form" action="/points/uploadpointimage"
                                  method="post" class="dropzone" enctype="multipart/form-data">
                                <input name="PointID" id="PointID" type="hidden" value="12345678987654321">
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="pointimgmanatab">
                            <div class="row" id="pointimglistdiv">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade " id="PointContentEditModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="PointTitleEditLabel" style="text-align: center;">阜成门</h4>
            </div>
            <!--<div class="modal-body">-->
            <form id="pointcontentform" name="pointcontentform" role="form" action="/points/editpointcontent"
                  method="post" enctype="multipart/form-data" target="hidden_frame">
                <iframe name='hidden_frame' id="hidden_frame" style='display: none'></iframe>
                <input type="hidden" id="PointContentEditID" name="PointContentEditID"/>

                <textarea id="PointContentEditContent" name="PointContentEditContent"></textarea>
                <!--</div>-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <!--<button type="button" class="btn btn-primary" onclick="SavePointContentEdit()">保存</button>-->
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>

            </form>

        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="RoadPointPositionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="allpointsmap" style="width:100%;height: 400px;margin-top: 10px;"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="PointPositionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form id="pointpositionform" name="pointpositionform" role="form" action="/points/setpositon" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title" id="myModalLabel">站点位置设置</h4>
                </div>
                <div class="modal-body">
                    <!--<input type="text" class="form-control" id="pointpositioninput" name="pointpositioninput"-->
                    <!--placeholder="输入地址">-->
                    <div id="r-result" style="width: 100%;"><input type="text" class="form-control"
                                                                   id="pointpositioninput" size="20" value="北京"
                                                                   style="width:100%;"/></div>
                    <div id="searchResultPanel"
                         style="border:1px solid #C0C0C0;width:100%;height:auto; display: none;"></div>

                    <input type="hidden" id="pointpositionpointid" name="pointpositionpointid">

                    <input type="hidden" id="pointpositionlongitude" name="pointpositionlongitude">
                    <input type="hidden" id="pointpositionlatitude" name="pointpositionlatitude">
                    <br/>

                    <div class="row">
                        <div class="col-md-3">
                            <p>
                                <!--data-handle-width="50"-->
                                <input id="switch-zuobiao" type="checkbox" data-label-text="经纬度">
                            </p>
                        </div>
                        <div class="col-md-3 jingquezuobiaodiv" style="display: none;">
                            <input type="text" class="form-control" id="pointpositionlongitudeset"
                                   name="pointpositionlongitudeset">

                        </div>
                        <div class="col-md-3 jingquezuobiaodiv" style="display: none;">
                            <input type="text" class="form-control" id="pointpositionlatitudeset"
                                   name="pointpositionlatitudeset">

                        </div>
                        <div class="col-md-3 jingquezuobiaodiv" style="display: none;">
                            <button class="btn btn-info" type="button" id="zuobiaoqueding">确定</button>

                        </div>
                    </div>


                    <div id="allmap" style="width: 570px;height: 350px;margin-top: 10px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/javascripts/dropzone/css/dropzone.css">
<link rel="stylesheet" href="/javascripts/dropzone/css/basic.css">

<script src="/javascripts/dropzone/dropzone.min.js"></script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/javascripts/summernote-master/dist/summernote.css">
<script type="text/javascript" src="/javascripts/summernote-master/dist/summernote.js"></script>
<script src="/javascripts/summernote-master/lang/summernote-zh-CN.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#PointContentEditContent').summernote({
            height: 300,
            tabsize: 2,
            codemirror: {
                theme: 'monokai'
            },
            lang: "zh-CN",
            toolbar: [
                //['style', ['style']], // no style button
//                ['style', ['bold', 'italic', 'underline', 'clear']],
//                ['fontsize', ['fontsize']],
//                ['color', ['color']],
//                ['para', ['ul', 'ol', 'paragraph']],
//                ['height', ['height']],
//                ['insert', ['picture', 'link']], // no insert buttons
//                ['table', ['table']], // no table button
//                ['help', ['help']] //no help button
//

                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']]

            ]
        });
    });
</script>


<style type="text/css">
    #r-result {
        width: 100%;
    }

    .tangram-suggestion-main {
        z-index: 999999999999;
    }
</style>

<link rel="stylesheet" href="/javascripts/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css">
<link rel="stylesheet" href="/javascripts/bootstrap-switch-master/docs/css/highlight.css">
<link rel="stylesheet" href="/javascripts/bootstrap-switch-master/docs/css/main.css">

<script type="text/javascript" src="/javascripts/bootstrap-switch-master/docs/js/highlight.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-switch-master/docs/js/main.js"></script>
<script type="application/javascript">

    $().ready(function () {
        $("#roadpointlistdiv").load("/roads/pointlistpart/<%=roadid%>", function () {

            <%if(isedit){%>
            bangdingshijian();
            <%}else{%>
            <%}%>

        });


    });


    function bangdingshijian() {
        $('#pointpositionform').ajaxForm(function () {
            $('#PointPositionModal').modal('hide')
        });


        $('#pointcontentform').ajaxForm(function () {
            alert("提交成功");
        });


        /*修改标题*/
        $('#roadtitle').blur(function (e) {
            var roadid = e.target.dataset.roadid;
            var title = e.target.value;
            $.ajax({
                type: "POST",
                url: "/roads/editroadtitle",
                data: "RoadID=" + roadid + "&Title=" + title,
                dataType: "json",
                success: function (data) {
                    if (data == true) {
                        // alert("修改成功")
                    }
                    else {
                        //alert("修改失败")
                    }
                }
            });
        });
        /*修改内容*/
        $('#roadcontent').blur(function (e) {
            var roadid = e.target.dataset.roadid;
            var content = e.target.value;
            $.ajax({
                type: "POST",
                url: "/roads/editroadcontent",
                data: "RoadID=" + roadid + "&Content=" + content,
                dataType: "json",
                success: function (data) {
                    if (data == true) {
                        //  alert("修改成功")
                    }
                    else {
                        // alert("修改失败")
                    }
                }
            });
        });

        /*修改标题*/
        $('.pointtitle').blur(function (e) {
            var pointid = e.target.dataset.pointid;
            var title = e.target.value;
            $.ajax({
                type: "POST",
                url: "/points/editpointtitle",
                data: "PointID=" + pointid + "&Title=" + title,
                dataType: "json",
                success: function (data) {
                    if (data == true) {
                        // alert("修改成功")
                    }
                    else {
                        // alert("修改失败")
                    }
                }
            });
        });
        /*修改内容*/
        $('.pointcontent_text').blur(function (e) {
            var pointid = e.target.dataset.pointid;
            var content = e.target.value;
            $.ajax({
                type: "POST",
                url: "/points/editpointcontenttext",
                data: "PointID=" + pointid + "&Content=" + content,
                dataType: "json",
                success: function (data) {
                    if (data == true) {
                        //  alert("修改成功")
                    }
                    else {
                        //  alert("修改失败")
                    }
                }
            });
        });


        $('.pointimg').click(function (e) {
            if ($(e.target).attr('class') == 'pointimg') {
                $('#PointID').val(e.target.dataset.pointid);
                $('#PointImgModal').modal('show');

                GetAllPointImages(e.target.dataset.pointid);
            }
        });
        $('.pointcontent').click(function (e) {
            $('#PointContentEditModal').modal('show')

            //$('#PointTitleEditLabel').html(e.target.dataset.pointid)
            $('#PointContentEditID').val(e.target.dataset.pointid)

            var pointid = e.target.dataset.pointid.trim();
            console.log(pointid)


            //获取点的位置
            $.ajax({
                type: "POST",
                url: "/points/getpointposition",
                data: 'id=' + pointid,
                dataType: "json",
                success: function (data) {
                    //alert('asdfasdf')
                    console.log(data)
                    $('#PointContentEditContent').code(data.Content);
                    //alert($('#PointContentEditContent').code())
                    $('#PointTitleEditLabel').html(data.Title);

                }
            });


        });


        $('#roadimg').click(function (e) {
            if ($(e.target).attr('id') == 'roadimg') {
                $('#RoadID').val(e.target.dataset.roadid);
                $('#RoadImgModal').modal('show');


                GetAllRoadImages(e.target.dataset.roadid)


            }
        });
        $('.pointpositionset').click(function (e) {
            if ($(e.target).attr('class') == 'pointpositionset') {
                $('#PointPositionModal').modal('show');
                $('#pointpositionpointid').val(e.target.dataset.pointid);

                var pointid = e.target.dataset.pointid;
                console.log(pointid)
                //获取点的位置
                $.ajax({
                    type: "POST",
                    url: "/points/getpointposition",
                    data: "id=" + pointid,
                    dataType: "json",
                    success: function (data) {
                        //alert('asdfasdf')
                        console.log(data)

                        $('#pointpositioninput').val(data.Address);


                        if (data.Longitude != "") {
                            GetMarker(data.Longitude, data.Latitude);
                        }
                    }
                });


            }
        });
        $('.pointdelete').click(function (e) {
            if ($(e.target).attr('class') == 'pointdelete') {
                if (confirm('确定删除？')) {
                    var pointid = e.target.dataset.pointid;
                    $.ajax({
                        type: "POST",
                        url: "/points/deletepoint",
                        data: "PointID=" + pointid,
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                                $("#roadpointlistdiv").load("/roads/pointlistpart/<%=roadid%>", function () {
                                    bangdingshijian();
                                });
                            }
                            else {
                                alert("删除失败")
                            }
                        }
                    });
                }
            }
        });


        $('.roaddelete').click(function (e) {
            if ($(e.target).attr('class') == 'roaddelete') {
                if (confirm('删除时将同时删除该路线下的所有站点，删除后无法恢复，确定删除路线？')) {
                    var roadid = e.target.dataset.roadid;
                    $.ajax({
                        type: "POST",
                        url: "/roads/deleteroad",
                        data: "RoadID=" + roadid,
                        dataType: "json",
                        success: function (data) {
                            if (data) {
                                window.location.href = "../../roads/list";

                            }
                            else {
                                alert("删除失败")
                            }
                        }
                    });
                }
            }
        });

        $('.roadpoinsmap').click(function (e) {
            if ($(e.target).attr('class') == 'roadpoinsmap') {
                //$('#RoadID').val(e.target.dataset.roadid);
                $('#RoadPointPositionModal').modal('show');


                var roadid = e.target.dataset.roadid;

                //获取道路所有点的位置
                $.ajax({
                    type: "POST",
                    url: "/roads/getjson",
                    data: "roadid=" + roadid,
                    dataType: "json",
                    success: function (data) {
                        //alert('asdfasdf')
                        console.log(data)
                        //alert(data[0].name)

                        addMarkers(data);
                        console.log(data)

                    }
                });
            }
        });


        $('#switch-zuobiao').on('switchChange.bootstrapSwitch', function (event, state) {
            //console.log(this); // DOM element
            //console.log(event); // jQuery event
            console.log(state); // true | false
            if (state) {
                $('.jingquezuobiaodiv').fadeIn();
            }
            else {
                $('.jingquezuobiaodiv').fadeOut();

            }
        });


        $('#switch-wenben').on('switchChange.bootstrapSwitch', function (event, state) {
            //console.log(this); // DOM element
            //console.log(event); // jQuery event
            console.log(state); // true | false
            $("#wenbenis").val(state);
        });

        $('#zuobiaoqueding').click(function (e) {
            var x = $('#pointpositionlongitudeset').val().trim();
            var y = $('#pointpositionlatitudeset').val().trim();
            GetMarker(x, y)
        });
    }
    //获取路线的所有图片并删除图片
    function GetAllRoadImages(roadid) {
        $.ajax({
            type: "GET",
            url: "/roads/getallimages",
            data: "RoadID=" + roadid,
            dataType: "json",
            success: function (data) {
                console.log(data)
                var everstr="";
                for (var i = 0; i < data.length; i++) {
                    everstr+= "<div class='col-md-3'><div class='thumbnail'><img src='"+data[i].imageurl+"' class='img-rounded'/><div class='caption'><p><button class='btn btn-default deleteroadimgbtn' data-imgid='"+data[i].id+"'>删除</button></p></div></div></div>";
                }
                $("#roadimglistdiv").html(everstr)

                $(".deleteroadimgbtn").click(function(e){
                    console.log(e.target.dataset.imgid)
                    $.ajax({
                        type: "POST",
                        url: "/roads/deleteroadimage",
                        data: "ImageID=" + e.target.dataset.imgid,
                        dataType: "json",
                        success: function (data) {
                            console.log(data)
                            if (data == true) {
                                //alert("删除成功");
                               // console.log("删除成功"+roadid)
                                GetAllRoadImages(roadid)
                            }
                            else {
                                alert("删除失败")
                            }
                        }
                    });
                });
            }
        });
    }

    //获取站点的所有图片并删除图片
    function GetAllPointImages(pointid) {
        $.ajax({
            type: "GET",
            url: "/points/getallimages",
            data: "PointID=" + pointid,
            dataType: "json",
            success: function (data) {
                console.log(data)
                var everstr="";
                for (var i = 0; i < data.length; i++) {
                    everstr+= "<div class='col-md-3'><div class='thumbnail'><img src='"+data[i].imageurl+"' class='img-rounded'/><div class='caption'><p><button class='btn btn-default deletepointimgbtn' data-imgid='"+data[i].id+"'>删除</button></p></div></div></div>";
                }
                $("#pointimglistdiv").html(everstr)

                $(".deletepointimgbtn").click(function(e){
                    console.log(e.target.dataset.imgid)
                    $.ajax({
                        type: "POST",
                        url: "/points/deletepointimage",
                        data: "ImageID=" + e.target.dataset.imgid,
                        dataType: "json",
                        success: function (data) {
                            console.log(data)
                            if (data == true) {
                                //alert("删除成功");
                                // console.log("删除成功"+roadid)
                                GetAllPointImages(pointid)
                            }
                            else {
                                alert("删除失败")
                            }
                        }
                    });
                });
            }
        });
    }



    function SavePointContentEdit() {
        var pointid = $("#PointContentEditID").val();
        console.log(pointid)
        var content = $("#PointContentEditContent").code();

        content = content.replace("//+/g", "%2B");
        content = content.replace("//&/g", "%26");
        console.log(content)
        $.ajax({
            type: "POST",
            url: "/points/editpointcontent",
            data: "PointID=" + pointid + "&Content=" + content,
            async: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                if (data == true) {
                    alert("修改成功")
                }
                else {
                    alert("修改失败")
                }
            }
        });
    }

</script>
<script type="text/javascript">
    Dropzone.options.myawesomedropzone = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 1, // MB
        addRemoveLinks: true,
        init: function () {
            this.on("complete", function (data) {
            console.log(data);
                $.ajax({
                    url: "/roads/pointlistpart/<%=roadid%>",
                    datatype: "html",
                    context: document.body,
                    success: function (data1) {
                        //console.log(data);
                        //$("#roadpointlistdiv").empty();
                        //$("#roadpointlistdiv").append(data);
                        $("#roadpointlistdiv").load("/roads/pointlistpart/<%=roadid%>", function () {
                            bangdingshijian();
                        });

                    }
                });

                //$("#roadpointlistdiv").load("/roads/pointlistpart/<%=roadid%>");


            });
        },
        maxFiles: 5
    };
    Dropzone.options.roaddropzone = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 1, // MB
        addRemoveLinks: true,
        init: function () {
            this.on("complete", function (data) {
            });
        },
        maxFiles: 5
    };
</script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=ttGLHUIT7LYSPUEpjlPGlCpY" type="text/javascript"></script>
<script type="text/javascript">


    // 百度地图API功能--但个点地图
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    map.addEventListener("click", function (e) {
        //var point = new BMap.Point(e.point.lng, e.point.lat);
        // map.centerAndZoom(point, 15);
        addMarker(e.point);
        GetAddress(e.point);
    });
    /*添加标注*/
    function addMarker(point) {
        map.clearOverlays();
        var marker = new BMap.Marker(point);
        marker.enableDragging();
        marker.addEventListener("dragend", dragendposition);

        map.addOverlay(marker);
    }

    function GetMarker(x, y) {
        map.clearOverlays();
        var point = new BMap.Point(x, y);
        var marker = new BMap.Marker(point);
        marker.enableDragging();
        marker.addEventListener("dragend", dragendposition);
        map.addOverlay(marker);
        map.centerAndZoom(point, 11);
        GetAddress(point);
    }
    /*根据坐标获取地址*/
    function GetAddress(point) {
        var pt = point;
        var geoc = new BMap.Geocoder();
        geoc.getLocation(pt, function (rs) {
            var addComp = rs.addressComponents;
            $('#pointpositioninput').val(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + addComp.streetNumber);
            $('#pointpositionlongitude').val(pt.lng);
            $('#pointpositionlatitude').val(pt.lat);
            //alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street  + addComp.streetNumber);
        });
    }


    function dragendposition(e) {
        console.log(e.point)
        //alert("asds")

        GetAddress(e.point);
    }


    function G(id) {
        return document.getElementById(id);
    }
    var ac = new BMap.Autocomplete(
            {
                "input": "pointpositioninput"
                , "location": map
            });

    ac.addEventListener("onhighlight", function (e) {  //˳Ҫ؅՚Ђ-ҭʏք˂ݾ
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function (e) {    //˳Ҫ֣ܷЂ-ҭ۳ք˂ݾ
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        map.clearOverlays();    //ȥԽ֘ͼʏ̹Ԑزهϯ
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //ܱȡ֚һٶׇŜ̷̑քޡڻ
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //ͭݓҪע
        }

        var local = new BMap.LocalSearch(map, { //ׇŜ̷̑
            onSearchComplete: myFun
        });
        local.search(myValue);
    }


    //所有地点地图
    var map2 = new BMap.Map("allpointsmap");    // 创建Map实例
    map2.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    map2.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map2.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map2.enableScrollWheelZoom(true);


    //添加多个覆盖物
    function addMarkers(points) {
        //map2.clearOverlays();
        for (var i = 0; i < points.length; i++) {
            var point = new BMap.Point(points[i].Longitude, points[i].Latitude);
            var marker = new BMap.Marker(point);
            if (i == 0) {
                map2.centerAndZoom(point, 11);
            }
            map2.addOverlay(marker);
        }
    }


</script>
